
body,html {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  height:100vh;
  width:100vw;
  padding: 0px;
  margin: 0;
  user-select: none;
}
.containerMain{
  transition: all .7s;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  display: grid ;
  height:100vh;
  width:100vw;
  padding: 0px;
  margin: 0;
 grid-template-rows: 70% 30%;
 grid-template-areas: "screenArea" "narArea";
 column-gap: 5px;
 justify-items: center;
 align-items: center;  
}

.charaText{
grid-area: narArea;
background-color: rgba(255,255,255,0.8);
height:60%; 
width:60%; 
align-self: center; 
border: solid black 2px;
border-radius: 24px;
padding: 0.5em;
display:flex;
flex-direction: row;
margin-bottom: 10px;
box-shadow:  0 5px 10px 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.05);
}
.charaFrame{
background-color:transparent;
height:90%;
width:12%; 
border: solid transparent 3px;
border-radius: 16px;
align-self: center;
justify-self: center;
margin-right:15px;
}
.charaImg{
height:100%;
width:100%;
object-fit: cover;
border-radius: 12px;
border: solid black 2px;
border-radius: 16px;
}

.charaNameNText{
display: flex;
flex-flow: column;
height:90%;
width:90%;
flex-grow: 1;
word-wrap: break-word;
}
.charaName{
font-size: 18px;
font-weight: bold;
font-style:darkgrey;
margin: 0;
}
.convoText{
display: flex;
height: 100%;
width:100%;
word-wrap: break-word;
margin: 0;
font-size: 15px;
font-style: black ;
}

.button{
background-color: white;
color: black;
border:solid 2px black;
border-radius:5px ;
padding:4px 8px;
margin:5px;
font-size:18px;
font-weight: bold;
transition-duration: 0.4s;
}

.button:hover{
background-color: black;
color: white;
}
.button:active{
background-color:black ;
color: gray;
border: solid 2px black
}

.convoText{
font-family: 'Playpen Sans', cursive;
 
}
.charaName{
  font-family: 'Roboto Mono', monospace;
}

.countdownFrame{
  background-image: url(./background/4.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  height:100vh;
  width:100vw;
  padding: 0px;
  margin: 0;
 
}

.mainFrame{
height:45%;  
width:auto;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
padding: 40px 50px 0px;
}

.mainTitle{
  height: 15%;
  font-size:30px;

}
.countDown{
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-columns:2fr 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-rows:3fr 2fr;
  justify-items: center;
  align-items: center;
}

.innumbers{
grid-column: span 1;
font-size:  58px;
}

.inunits{ 
grid-column: span 1;
font-size: 18px;
 margin: 0;
}

.dotdot{
  grid-column: span 1;
  font-size: 35px;
  margin: 0;
}

.message{
align-self: center;
justify-self: center;
grid-column: span 7;
grid-row: span 2;
font-size: 60px;
white-space: nowrap;
}

.startBtn{ 
font-size: 25px;
}

.fullFrame{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows:2fr 3fr  2fr;
  justify-items: center;
}


.endingFrame{
grid-row: 2;
border: solid black 2px;
width: 25%;
height: 81%;
background-image: url(./background/5.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
border-radius: 18px;
justify-self: center;
align-self: center;
}

.strtAgn{
grid-row: 3;
align-items: start;
}

.againbtn {
padding: 10px;
font-size: 20px;
font-weight: 200;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.replayIcon{
height: 35px;
width: 35px;
text-align: center;
margin-right: 5px;
}

hr{
  height: 2px;
  width: 100vw;
  background-color: black;
}

.theEndFrame{
  justify-self: center;
  align-self: center;
}
.theEnd{
  text-align: center; 
  font-size: 35px;
  margin: 15px;
}

.volumeBox{
  position: fixed;
  border: solid black 3px;
  border-radius: 9px;
  top: 60px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: transparent;
}

.volumebtn {
    height:50px;
    width:50px;
  }
.mainFont{
  font-family: 'Roboto Mono', monospace;

}
.secFont{
  font-family: 'Playpen Sans', cursive;
}
    
